@charset "utf-8";
@import "compass/reset";
@import "compass/css3";

a{
	text-decoration: none;
}

.clearfix,
%clearfix {
    *zoom: 1;
    &:after {
        content: " ";
        display: table;
        height: 0;
        clear: both;
    }
}